@font-face {
font-family: Alegreya_Sans_SC;
src: url(../fonts/Alegreya_Sans_SC,Bellota_Text,Ubuntu_Mono/Alegreya_Sans_SC/AlegreyaSansSC-Bold.ttf);
}

h1, h2, h3, h4, h5, h6 {
    /*font-size: 4.04rem;*/
    font-family: Alegreya_Sans_SC!important;
    /*letter-spacing: 6px;*/
}

h1 {
  transform: scaleX(1.2);
  }

// Home page
.half-transparent {
  .d-p-banner {
    .content-wrapper {
      padding-top: 3%;
      padding-bottom: 6%;
      background: rgba(255,255,255,.80);
    }
  }
}

.paragraph--type--d-p-banner {
  .content {
    /*
    .field--name-field-d-main-title {
      font-size:  3.04rem;
    }
    */

    &.container {
      margin-left: 0;
    }

    .field--name-field-d-main-title {
    font-size: 3.6rem;
    font-family: Alegreya_Sans_SC;
    letter-spacing: 1px;
    transform: scaleX(1.3);

        @media (max-width: 767.98px) {
              font-size: 2rem;
        }
    }
  }

  .top-bammer-text {
    font-size: 20px;
  }

  .content-wrapper {
    padding-top: 16.5%;
  }
}

.we-mega-menu-submenu {
  background-color: transparent;
  background: url("../images/slide.jpg");
}


.path-frontpage {
  .blog-teaser {
    .field--name-title {
      display: block;
      min-height: 48px;
    }

    .field--name-field-blog-teaser {
      display: block;
      min-height: 179px;
    }

  }

  .how-works {
    .field__item p {
        font-size: 1.7rem;
        text-align: center;
    }
  }

  .wrapper-d_p_single_text_block {
    .field--name-field-d-main-title {
      @media (min-width: 1200px) {
      font-size: 3.1rem!important;        
      }
    }
  }

  .field--name-field-d-main-title {
    text-align: center!important;
  }

  .header-into-columns {
    .d-p-group-of-text-blocks {
      .d-p-group-of-text-blocks-header-wrapper {
        .field--name-field-d-main-title {
          &:after {
            margin: 0 auto!important;
            margin-top: 1.375rem!important;
            margin-bottom: 1.51rem!important;
          }
        }
      }
    }
  }


  .theme-invert > .d-p-banner {
    .field--name-field-d-main-title {
      color: #196dba;
    }
  }

  .wrapper-d_p_carousel {
    .field--name-field-d-media-icon {
      .field--name-field-media-image {
        margin: 0 auto!important;
        max-width: 80px;
      }
    }
  }

  .wrapper-d_p_group_of_text_blocks {
    .field--name-field-d-media-icon {
      .field--name-field-media-image {
        margin: 0 auto;
        max-width: 80px;
      }
    }
  }

.d-p-text-block p {
    @media (max-width: 767.98px) {
    font-size: 1.875rem;
    text-align: center;
    }
}

  .wrapper-d_p_single_text_block {
    .field--name-field-d-main-title {
      color: #ffffff;
      max-width: 473px;
      margin: 0 auto;
    }

    .field--name-field-d-long-text {
      span {
        color: #ffffff;
        margin-bottom: 30px;
        display: block;
      }

      h2 {
        span {
          color: #ffffff;
        }
      }
    }
  }

  .list-services {
    ._service {
      @media (max-width: 767.98px) {
        margin-bottom: 35px;
      }
    }

    ul {
      list-style-type: none;
      text-align: left;

      li {
        line-height: 50px;
        font-weight: 700;
        letter-spacing: .7px;

      }
    }

    img {
      display: block;
      width: 92px;
      padding-right: 10px;
      text-align: center;
      margin: 0 auto;
      margin-bottom: 20px;
    }
  }
}

.d-p-group-of-text-blocks {
  .d-p-group-of-text-blocks-header-wrapper {
    .field--name-field-media-image {
    img {
      width: 118px;
      }
    }
  }
}

// Header
.header {
  .navbar-brand {
    max-width: 100% !important;
    width: 100%;

    @media (max-width: 991.98px) {
    width: 75%;
    }

    .site-logo {
      width: 50%;

      @media (max-width: 991.98px) {
    width: 100%;
    }
  }

    .search-block-form {
      width: 200px;

      .container-inline {
        float: right;
        margin-right: 3px;

        .form-group {
          margin-bottom: 0;

          .form-search {
            height: 67px;
            padding-left: 45px;
          }
        }

        i.better_search {
          height: 65px;
          width: 55px;
        }

      }
      .search-form {
        margin-bottom: 0;
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    .header-phone {
      margin-right: 5px;
      ._parent {
        color: #0a6eb4;
        border-color: #0a6eb4;
        transition: all 0.3s;
        cursor: pointer;
        padding: 12px;
        box-sizing: border-box;

        svg {
          display: inline-block;
          max-height: 41px;
          width: 50px;
          float: left;
          color: white;
          padding-right: 10px;

          path {
            fill: #0a6eb4;
          }

          &:hover {
            color: #ffffff;
          }
        }

        &:hover {
          svg path {
            fill: #ffffff;
          }

          color: #ffffff;
        }

        ._phone {
          vertical-align: bottom;
          line-height: 1px;
        }
      }

      @media (max-width: 991px) {
        display: none;
      }
    }

    .form-type-select {
      margin-bottom: 0;

      .language-select {
        width: 80px!important;
        border-radius: 5px;
        height: 65px;
        margin: 0;

        option {
          height: 10px;
        }
      }

      @media (max-width: 991px) {
        display: none;
      }
    }
  }

.list-services {
  img {
    display: block;
    margin: 0 auto;
  }
}


  li.we-mega-menu-li {
      -webkit-transition: .4s ease-out;
      -webkit-transition-delay: 0.5s;
      -o-transition: .4s ease-out;
      -o-transition-delay: 0.5s;
      -moz-transition: .4s ease-out;
      -moz-transition-delay: 0.5s;
      transition: .4s ease-out;
      transition-delay: 0.5s;
  }

  .region-secondary-menu {
    .search-block-form {
      display: none;
      //@include media-breakpoint-down(md) {
      //  display: block;
      //}
      @media (max-width: 991px) {
        display: block;
      }
    }

    #block-contacts-2 {
      display: none;
      //@include media-breakpoint-down(md) {
      //  display: block;
      //}
      @media (max-width: 991px) {
        display: block;
      }
    }

    #block-languagedropdownswitcher-2 {
      display: none;
      //@include media-breakpoint-down(md) {
      //  display: block;
      //}
      @media (max-width: 991px) {
        display: block;
      }
    }
  }
}
  // Footer
  footer {
    background: url("../images/slide.jpg");
    color: #dee2e6;

    &.site-footer {
      .block-block-content ul li a {
        background-color: transparent!important;
      }
    }
  }

